@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2gjpph');
  src:  url('fonts/icomoon.eot?2gjpph#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2gjpph') format('truetype'),
    url('fonts/icomoon.woff?2gjpph') format('woff'),
    url('fonts/icomoon.svg?2gjpph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-qiita:before {
  content: "\e901";
  color: #55c500;
}
.icon-twitter:before {
  content: "\e902";
  color: #1da1f2;
}
